body {
  width: 90%;
  margin: auto;
}


#accessibility {
    margin: auto;
}

#accessibility > ul {
    list-style: none;
    border-radius: 5px;
    background-color: rgb(227, 231, 227);
    max-width: 400px;
    font-size: 1.1rem;
}

/* Bus Line CSS Styling */

a {
    color: #000;
    display: block;
    text-decoration: none;
}

li > #seven:hover {
    color: #fff;
    background-color: #008000;
}

li > #eight:hover {
    color: #fff;
    background-color: #7AB800;
}

li > #sixty-one:hover {
    color: #fff;
    background-color: #6FD4E4;
}

img {
    width: 100%;
    height: auto;
    position: relative;
}

#fridge-diagram {
    width: 90%;
    height: auto;
    position: relative;
}

/* Nav */
.navbar-nav {
    justify-content: center;
    align-items: center;

}

/* CAROUSEL CSS SECTION */
.carousel {
    width: 80vw;
    height: 70vh;
    position: relative;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset:0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide[data-active] {
    opacity:1;
    z-index: 1;
    transition-delay: 0ms;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: center;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color:rgba(0, 0, 0, .3);
}

.carousel-button:hover, 
.carousel-button:focus {
    color: white;
    background-color:rgba(0, 0, 0, .4);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}
.carousel-button.next {
    right: 1rem;
}


/* Volunteer Page - Spacer */
.splitter {
    height: 25px;
    width: 100%;
}

.what {
    background-color: rgba(48, 196, 48, .5);
}

.how {
    background-color:rgba(57, 181, 231, .5)
}

.volunteer {
    background-color: rgba(189, 122, 222, .5);
}

.business {
    background-color: rgba(206, 102, 67, .5);
}


/* Footer */
footer {
    background-color: rgb(244, 160, 160);
    padding: 10px;
    text-align: center;
    margin-top: 40px;
    border-radius: 5px;
    width: 100%;
}

/* Media Icons */
.fa-brands{
    font-size: 30px;
    text-decoration: none;
    letter-spacing: 30px;
    position:relative;
}

.fa-facebook{
    color: #4267b2;
}

.fa-instagram{
    color: #c13584;
}


.donateItems {
    background-image: url(Images/groceries.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

/* MEDIA QUERIES  */
@media only screen and (max-width: 991px) {
    #desktopmap { 
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    #mobilemap {
        display: none;
    }
}
